<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767793565429-5o9c5apg8f9qqjikhmepsov1b955k9c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767793565429-5o9c5apg8f9qqjikhmepsov1b955k9c9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>767793565429-36to3istgcvk43nqk4rvf331pdet2r37.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBj3idlFboDq1SFDKjT3cYgjRiYLDWiERM</string>
	<key>GCM_SENDER_ID</key>
	<string>767793565429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitter</string>
	<key>PROJECT_ID</key>
	<string>chuiter</string>
	<key>STORAGE_BUCKET</key>
	<string>chuiter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767793565429:ios:0be98b9faaad4dc622bfbc</string>
</dict>
</plist>